name: Deploy Infrastructure

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment to run on
        options:
        - dev
        - prod
      terraform_destroy:
        type: boolean


jobs:
  TerraformPlan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: ${{ inputs.environment }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Log into Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Terraform init
      run: | 
        cd terraform
        terraform init
    - name: Terraform Plan
      if: inputs.terraform_destroy == false
      run: |
        cd terraform
        terraform plan 
    - name: Terraform Plan Destroy
      if: inputs.terraform_destroy == true
      run: |
        cd terraform
        terraform plan --destroy
      
  TerraformApply:
    runs-on: ubuntu-latest
    needs: TerraformPlan
    environment: ${{ inputs.environment }}

    steps: 
    - name: Terraform Apply
      run: |
        cd terraform
        terraform apply
